# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Triton y PyTorch
.triton/
torch_compile_debug/

# Editores
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Variables privadas
.env
.env.*
*.pem
*.key

# Sistema
.DS_Store
Thumbs.db

# Temporales
*.tmp
*.log
